<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>

    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    {% include 'notification.html' %}
    <style>
        body{font-family:Arial;}
    </style>
</head>
<body>
<div style="border:solid 1px grey;margin:10%;padding:3%;">
    {% if request.user.is_authenticated %}
    <h4>привет {{ request.user }}</h4>
    <p>Для наглядности примеры нужно открывать средним счелчком мыши</p>
    <br><br>
    <a target="_blank" href="/notification/example_send_chat/">отправить уведомление в чат от себя же</a>
    <br><br>
    <a target="_blank" href="/notification/example_send_notification/">отправить пример уведомления random</a>
    <br><br>
    <a target="_blank" href="/notification/example_call">пример звонка</a>
    <br><br>
    <div onclick="open_users_chat()" class="n-btn n-btn-success" style="width:20%">Открыть чат</div>
    {% else %}
    You are not logged
    {% endif %}
</div>


<script>

</script>

</body>
</html>